.danger {
    color: red;    
  }
  
  input.danger {
    border: 2px solid red;
  }

  .formDog {
    font-size: 18px;
    align-self: center;
    align-content: center;  
    display: flex;
    align-items: center;
    flex-direction: column;    
    background: rgba(0, 0, 0, 0.692);
    width: 500px;
    margin: auto;
    justify-content: space-between;    
    padding: 15px;
    color: rgb(255, 255, 255);            
    padding-left: 30px;    
    margin-top: 125px;      
    
  }
  .selectionPart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    margin-top: 15px;    
  }
  .tempChoosed{
    color: white;
    background-color: orangered;
    padding: 5px;
    margin:auto;
  }
  .disabled{
    color: rgb(0, 0, 0);
    background-color: rgb(129, 129, 129);

  }
  .enabled{
    color: white;
    background-color: orangered;
  }
  .enabled :hover {
    cursor: pointer;
  }
  .error {
    color: rgb(250, 32, 32);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.924);
  }

  input {
    width: 350px;
    height: 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:20px;  
  }
  label {
      text-align: left;
  }


  