.dogDetail {
    margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;  
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    vertical-align:auto;
    padding: 10px;
    padding-left: 20px;    
    font-size: 16px;
    transition: all .3s ease;
    color: rgb(255, 238, 228);   
    min-height: 550px;
    align-self: center;
    margin-top: 110px;
}

.Load {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;    
  font-size: 28px;
  margin-top: 30px;
}
.imgDetail{
  display: flex;
  size: 1em;
  position: relative;
  flex-direction: row;         
  height: 450px;
  width: 500px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;                        
  box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);            
}

.detail{
  background-color: rgba(19, 22, 22, 0.815);      
  display: flex;
  flex-direction: column;    
  color: white;
  box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);
  font-size: 20px;    
  justify-content: center;
  padding: 25px;
}

@media screen and (max-width: 550px){
  .dogDetail {
    display: flex;
  flex-direction: column;
    margin-top: 240px;
  }
  .imgDetail{
    display: flex;    
    flex-direction: row;         
    height: 350px;  
    width: 300px;  
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;                        
    box-shadow: 0 10px 50px rgba(7, 17, 19, 0.616);            
    
  }
}
