

.dogsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;        
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .pages {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 43%;
    margin-right: 43%;
    background: rgba(0, 0, 0, 0.835);
    border-radius: 10px;
    padding: 0.2%;
  }

  .Paged_numbers {
    color: rgb(255, 255, 255);
    background-color: transparent;    
    font-size: 16px;
    cursor: pointer;
    border: none;    
    padding: 5px;
  }
  .Paged_numbers:hover {
    color: orangered;
    font-weight: bold;
  }
 

  .Paged_numbers_page {
    color: orangered;
    background-color: transparent;    
    font-size: 16px;  
    border: none;    
    padding: 5px;
    font-weight: bold;
    text-decoration:wavy;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    text-align: center;
}