
  .Home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
  }

.BuscadoryAdd {
  margin-top: 20px;
  font-size: 20px;
  text-shadow: 0.1em 0.1em 0.2em black;
  display: flex;
  flex-direction: column;
}

select {
  border: none; 
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  background-color: rgba(175, 52, 4, 0.972);
  color: white;
  border-radius: 0.5rem;     
  padding: 6px;
  text-align: center;
  margin-top: 5px;
}
.Filters{
  margin-top: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  color: rgb(180, 49, 2);
  background-color: rgba(255, 255, 255, 0.897);
  border-radius: 0.5rem;
  border: none;   
  width: 450px;
  padding: 7px;
  justify-content: space-around;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.637);
  margin-bottom: 20px;
}
.dogsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;        
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }


  .pages {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background: rgba(0, 0, 0, 0.835);
    border-radius: 10px;
    padding: 0.2%;
  }

  .Paged_numbers {
    color: rgb(255, 255, 255);
    background-color: transparent;    
    font-size: 16px;
    cursor: pointer;
    border: none;    
    padding: 5px;
  }
  .Paged_numbers:hover {
    color: orangered;
    font-weight: bold;
  }
 

  .Paged_numbers_page {
    color: orangered;
    background-color: transparent;    
    font-size: 16px;  
    border: none;    
    padding: 5px;
    font-weight: bold;
    text-decoration:wavy;
  }

  .msgDogs {
    font-size: 28px;
    text-shadow: 0.1em 0.1em 0.2em black;    
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.664);
    width: 300px;
    padding: 10px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    text-align: center;
}